@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Montserrat';
}

.container-login{
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: #20252C;
    justify-content: center;
}

.container-login form{
    background-color: white;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    width: 400px;
}

.container-login form h3{
    margin: 5px 0px 10px;
    font-size: 20px;
    text-align: center;
}

.container-login form input{
    width: 100%;
    margin: 5px 0px;
    font-size: 16px;
    padding: 3px;
}

.container-login form #Login{
    width: 100%;
    margin: 5px 0px;
    cursor: pointer;
    font-size: 18px;
    background-color: #20252C;
    color: #ffffff;
}

.container-login form #Login:hover{
    width: 100%;
    margin: 5px 0px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
}